body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* body container */
.container {
    flex: 1;
}

/* New listing button */



/* navbar */
.navbar{
    height:5rem ;
    background-color: rgb(210, 226, 240);
}
.fa-compass{
    font-size: 2rem;
    
}
.nav-link{
   
    color: black !important;  
    
}



/* Footer */
.f-info-links a {
    text-decoration: none;
    color: black;
}
.f-info-links a:hover {
    text-decoration: underline;
    color: blue
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}


.f-info-socials i {
    margin-right: 10px;
    font-size: 1.3rem;
}

.f-info {
    text-align: center;
    background-color: rgb(210, 226, 240);
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content:center;
    align-items: space-evenly;
}


/* Cards*/
.card {
    border: none !important;
    margin: 2rem !important;
    
    
}


.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    /* object-fit: cover !important; */
    transition: all 0.5s ease !important;
    height: 40vh;
    /* width: 20vw; */

}

.card-img-top:hover{
    transform: scale(1.1);
    filter: blur(0.5px);
}

.cord-body {
    padding: 0% !important;

}

.listing-link {
    text-decoration: none;
    color: black;
}

/* Card Effect */
